<footer id="main-footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">

        <div class="copyright ten columns" style="margin-top: 30px;">
          
          <ul>
            <li><p>Contact Us - 0731-2511220</p></li>
            <li><%= image_tag("/assets/store/secure.png")%></li>
          </ul>

        </div>
        <div class="copyright columns" style="margin-left: 129px; margin-top: 30px;">
          
          <ul><li>
          <p>+91 - 8982079651</p></li>
            <li><li><%= image_tag("/assets/store/secure-logo.jpg")%></li></li>
          </ul>

        </div>

        

        <div class="social-icons six columns" style="margin-right: 120px;">

          <ul class="inline">
            
            <li><a href="https://twitter.com/spreecommerce" target="_blank"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="https://www.facebook.com/spreecommerce" target="_blank"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="https://plus.google.com/110792218022940311363" target="_blank"><i class="icon-gplus-circled"></i></a></li>
            
            
          </ul>
        </div>
      </div>
    </div>

    <style type="text/css">

  .footer-bottom {
    background-color: #8D8D8F;
  }

 


  #main-footer .row {
  margin-bottom: 0;
  font-size: 12px;
  color: #6286B1;
  padding-bottom: 20px;
}

.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-bottom p {
  color: white;
  font-size: 12px;
}
#main-footer .social-icons {
  margin-top: 25px;
  float: right;
}
#main-footer * {
  line-height: 24px;
}
#main-footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  -webkit-padding-start: 0px;
}
ul.inline > li {
  display: inline-block;
}
#main-footer a {
  color: #6286B1;
}
#main-footer .social-icons i {
  background-color: white;
  margin-left: 10px;
  padding-top: 1px;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  display: block;
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

    .icon-twitter-circled{
        background-image: url("/assets/twitter-circle.png")
      }
      .icon-facebook-circled{
        background-image: url("/assets/icon-facebook.png")
      }
      .icon-gplus-circled{
        background-image: url("/assets/gplus_icon.png")
      }

    </style>